.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-app);
  color: var(--fg-default);
}

.main-content {
  flex: 1;
}

.main-content.with-navbar {
  margin-top: 60px;
}